.top-container {
  background-color: #04464B;
  padding: 20px;
  color: #82F382;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.free-text {
  background-color: #024127;
  padding: 5px;
}

.small-text {
  font-size: 0.6rem;
}

.button {
  border: 1px solid #82F382;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.circle-container {
  margin-top: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.circle {
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  background: linear-gradient(to left top, #1c939b, #04464B);
  display: inline-block;
  border-radius: 50%;
  padding-top: 50px;
  color: white;
  margin: 20px;
}


.red {
  color: red;
}

.green {
  color: green;
}

.extra-small-text {
  font-size: 0.4em;
}

.red-bg {
  background-color: red;
}

.green-bg {
  background-color: green;
}